@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDEFD0;
  --main: linear-gradient(rgba(211, 50, 29, 1) 0%, rgba(238, 163, 0, 1) 100%);
  --prime: #D3321D;
  --second: #EEA300;
}

* {
  scroll-behavior: smooth
}


@layer utilities {
  .text-gradient {
    background: var(--main);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }




  .text-shadow {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  }



}